{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>A propos ! </h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in felis eget justo dictum congue. Sed auctor quam nec mi vehicula, vel cursus sem consectetur. Duis ullamcorper felis non congue tristique. Quisque bibendum libero nec eros convallis, at fringilla libero tincidunt. Vivamus vel justo eu mauris facilisis sagittis.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in felis eget justo dictum congue. Sed auctor quam nec mi vehicula, vel cursus sem consectetur. Duis ullamcorper felis non congue tristique. Quisque bibendum libero nec eros convallis, at fringilla libero tincidunt. Vivamus vel justo eu mauris facilisis sagittis.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in felis eget justo dictum congue. Sed auctor quam nec mi vehicula, vel cursus sem consectetur. Duis ullamcorper felis non congue tristique. Quisque bibendum libero nec eros convallis, at fringilla libero tincidunt. Vivamus vel justo eu mauris facilisis sagittis.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in felis eget justo dictum congue. Sed auctor quam nec mi vehicula, vel cursus sem consectetur. Duis ullamcorper felis non congue tristique. Quisque bibendum libero nec eros convallis, at fringilla libero tincidunt. Vivamus vel justo eu mauris facilisis sagittis.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in felis eget justo dictum congue. Sed auctor quam nec mi vehicula, vel cursus sem consectetur. Duis ullamcorper felis non congue tristique. Quisque bibendum libero nec eros convallis, at fringilla libero tincidunt. Vivamus vel justo eu mauris facilisis sagittis.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in felis eget justo dictum congue. Sed auctor quam nec mi vehicula, vel cursus sem consectetur. Duis ullamcorper felis non congue tristique. Quisque bibendum libero nec eros convallis, at fringilla libero tincidunt. Vivamus vel justo eu mauris facilisis sagittis.</p>
    
</div>
{% endblock %}
